
.api-statuses
  .reddit-api-status
  .hackernews-api-status
  .slashdot-api-status

.hero-unit
  %h1 Discuss It!
  %p Online discussion tracker for finding conversations
  .row-fluid
    = form_for Search.new do |f|
      .field
        = f.label :query_url, "Paste your link:"
        = f.text_field :query_url, id: "search-field", placeholder: "http://example.com/article.html", autofocus: "autofocus", required: true
        = f.submit "Discuss This!", class: "btn btn-primary"
        /= f.submit "Beta", class: "btn btn-warning btn-small"

  .row-fluid
    %h6 Suggested Searches
    %p.suggested
      = link_to "Robot Produces Paintings With That 'Imperfect' Human Look - singularityhub.com", "/submit?url=http://singularityhub.com/2013/07/27/canvas-camera-brush-and-algorithms-enable-robot-artists-beautiful-paintings/"
    %p.suggested
      = link_to "Revealed: how US and UK spy agencies defeat internet privacy and security - theguardian.com", "/submit?url=http://www.theguardian.com/world/2013/sep/05/nsa-gchq-encryption-codes-security"
    %p.suggested
      = link_to "Photo of all-black house in Germany - imgur.com", "/submit?url=http://i.imgur.com/gOLvZVO.jpg"