.hero-unit
  %h1 Discuss It!
  %p Online link discussion tracker for locating conversations about a given url.
  .row-fluid.wrapper
    %p.pagination-centered
      %br
      %b.pull-left Discussions about:
      %br
      = link_to @query_url, @query_url

    #top-results
      %h3 TOP DISCUSSIONS
      - if @top_results.empty?
        %p
          Sorry, no discussions found.
          = link_to 'Try again?', root_path
      - else
        %table.table
          - @top_results.each do |listing|
            - unless listing.nil?
              %tr
                %td
                  = listing.site
                  - if listing.site == 'Reddit'
                    %br
                    = "/r/#{listing.subreddit}"
                %td.url-friendly
                  =  link_to listing.title, listing.location
    %br
    #all-results
      %h3 ALL DISCUSSIONS
      - if @all_results.all.empty?
        %p
          No additional results found
      - else
        %table.table
          - @all_results.all.each do |listing|
            %tr
              %td
                = listing.site
                - if listing.site == 'Reddit'
                  %br
                  = "/r/#{listing.subreddit}"
              %td.url-friendly
                =  link_to listing.title, listing.location

%hr
