.hero-unit

  %h1 Discuss It!

  %p Online link discussion tracker for locating conversations about a given url.

  .row-fluid
    %p.pagination-centered
      %br
      %b.pull-left Discussions about:
      %br
      = link_to @query_url, @query_url

    #top-results

      %h3 TOP DISCUSSIONS

      - if @top_results.empty?
        %p
          Sorry, no discussions found.
          = link_to 'Try again?', root_path

      - else
        %table.table
          %thead
            %tr
              %th.listingmetadata
              %th.listinglink

          %tbody
            - @top_results.each do |listing|
              - unless listing.nil?
                %tr
                  %td
                    = listing.site
                    - if listing.site == 'Reddit'
                      %p
                        = "/r/#{listing.subreddit}"
                    .ratings
                      %br
                      %p.rating-score-box{title:"Score"}
                        - if listing.site == "Slashdot"
                          = '-'
                        - else
                          = listing.score
                      %p.rating-comment-box{title:"Comment Count"}
                        = listing.num_comments
                  %td.url-friendly
                    =  link_to listing.title, listing.location

    %br

    #all-results

      %h3 ALL DISCUSSIONS

      - if @all_results.empty?
        %p
          No additional results found

      - else
        %table.table
          %thead
            %tr
              %th.listingmetadata
              %th.listinglink

          %tbody
            - @all_results.each do |listing|
              %tr
                %td
                  = listing.site
                  - if listing.site == 'Reddit'
                    %p
                      = "/r/#{listing.subreddit}"
                  .ratings
                    %br
                    %p.rating-score-box{title:"Score"}
                      - if listing.site == "Slashdot"
                        = '-'
                      - else
                        = listing.score
                    %p.rating-comment-box{title:"Comment Count"}
                      = listing.num_comments
                %td.url-friendly
                  =  link_to listing.title, listing.location

    %br

    - unless @filtered_results.empty?

      %button.btn.btn-block.btn-large.btn-info{"data-target" => "#filtered-results", "data-toggle" => "collapse", type: "button"}
        %span.caret
        CLICK TO VIEW FILTERED RESULTS
        %span.caret

      #filtered-results.collapse

        %h3.small DISCUSSIONS WITHOUT COMMENTS

        %table.table
          %thead
            %tr
              %th.listingmetadata
              %th.listinglink

          %tbody
            - @filtered_results.each do |listing|
              %tr
                %td
                  = listing.site
                  - if listing.site == 'Reddit'
                    %p
                      = "/r/#{listing.subreddit}"
                  .ratings
                    %br
                    %p.rating-score-box{title:"Score"}
                      - if listing.site == "Slashdot"
                        = '-'
                      - else
                        = listing.score
                    %p.rating-comment-box{title:"Comment Count"}
                      = listing.num_comments
                %td.url-friendly
                  =  link_to listing.title, listing.location
