= form_for @slashdot_posting do |f|
  - if @slashdot_posting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@slashdot_posting.errors.count, "error")} prohibited this slashdot_posting from being saved:"
      %ul
        - @slashdot_posting.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :permalink
    = f.text_field :permalink
  .field
    = f.label :urls
    = f.text_area :urls
  .actions
    = f.submit 'Save'
