<!DOCTYPE html>
<html>
<head>
  <title>DiscussIt</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap.css" rel="stylesheet" media="screen" />
  <link href="/bootstrap-responsive.css" rel="stylesheet" media="screen" />
</head>
  <body>
    <div class="container-fluid">

      <% if flash[:error] %>
        <div class="alert alert-error">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %>

      <footer>
        <p>&copy; Discuss It!</p>
      </footer>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
